/* font */
@import 
  url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.main-container {
  background-color: #E6EFF6;
  padding: 40px;
  font-family:  Karla, serif;
  width: 600px;
  height: 500px;
}

.container {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
  overflow: hidden;
}

.banner {
  padding: 30px;
  background-color: white;
  height: 145px;
}

.banner h3 {
  color: rgb(56,176,174);
}

.banner h4 {
  color: #CCDF6C
}

.banner p {
  color: #B1B6BC
}

.subcontainer {
  display: flex;
  height: 240px;
}

.CTA, .whyUs {
  padding: 20px;
  flex: 50%;
}

.CTA #span-1 {
  font-weight: 700;
  font-size: 2rem;
}

.CTA #span-2 {
  position: relative;
  top: -4px;
  font-size: 0.8rem;
  opacity: 0.8;
}

.CTA {
  position: relative;
  color: white;
  background-color: #2BB3B1;
}

.CTA button {
  color: white;
  background-color: #BFDF32;
  border: 0;
  position: absolute;
  width: 80%;
  height: 20%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.1)
}
button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.whyUs {
  background-color: #4abebd;
  color: white;
  text-align: left;
  padding-left: 35px;
}

ul {
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  line-height: 1.4em;
  opacity: 0.8;
}
